// sources
@import 'src/_bootstrap.scss'; // bootstrap
@import 'src/_wordpress.scss'; // wp classes
@import 'src/_jquery.fancybox.scss'; // fancybox
@import 'src/_slick.scss'; // slick slider
@import 'src/_fonts.scss'; // fonts
// modules

// utilites
.wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-width: 320px;
}
.container{
	min-width: 320px;
}
.webber{
	text-align: center;
	margin: 0;
	img{
		height: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

// buttons
.btn{
	transition: all .3s;
}
.btn-transparent{
	border: 2px solid $brand-primary;
	font-size: 15px;
	&:hover{
		background: $brand-primary;
		color: #fff;
	}
}
.btn-circle{
	background-color: #29395a;
	border-radius: 22px;
	box-shadow: 0 5px 10px rgba(41, 57, 90, 0.4);
	color: #fff;
	font-size: 15px;
	padding: 7px 30px;
	&:hover{
		background: darken(#29395a,10%);
		color: #fff;
	}
}